
<div id="pay-when-popup">
  <h4>MobDeals</h4>
  <div class="body">
    <p>How would you like to buy this deal?</p>

    <a class="now">
      <h1>Pay Now</h1>
      <p>Get <span class="virtual-count"></span> <span class="virtual-img"></span> and the gift card immediately.</p>
    </a>

    <a class="later">
      <h1>Pay Later</h1> 
      <p>Get <span class="virtual-count"></span> <span class="virtual-img"></span> immediately <p class="parenthesis">(and the rest later)</p></p>
    </a>
  </div>
</div>

<div id="will-pay-later-popup">
  <h4>MobDeals</h4>
  <div class="body">
    <p>
      You got <span class="virtual-count"></span> <span class="virtual-img"></span>! </br> 
      We've <span class="email hidden">emailed</span><span class="mobile hidden">texted</span> 
      you information on how to complete your payment and get the rest.
    </p>
    <div class="buttons">
      <button>Check <span class="email hidden">your email</span><span class="mobile hidden">your text messages</span></button>
    </div>
  </div>
</div>
