<div id="footer">
  <div class="user mobdeals-account-link-box">Logging in...</div>
  <% if defined?(terms_path) %>
  <a class="terms" href="<%= terms_path %>">Terms of Sale</a>
  <% end %>
  <div class="logo"></div>
</div>

<div class="footer-padding"></div>