<div id="loading" class="hidden"><img src="<%= asset_path('mobdeals-ui/ajax-loader.gif') %>" alt="loading"></div>
<div id="redirecting" class="hidden"><img src="<%= asset_path('mobdeals-ui/ajax-loader.gif') %>" alt="redirecting"> Redirecting you...</div>
